[submodule "subprojects/tomlcpp"]
	path = subprojects/tomlcpp
	url = https://github.com/dy-tea/tomlcpp.git
[submodule "subprojects/backward-cpp"]
	path = subprojects/backward-cpp
	url = https://github.com/dy-tea/backward-cpp.git
