name: Build

on:
  push:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 1

      - name: Build
        uses: docker://archlinux:latest
        with:
          args: |
            /bin/sh -c "                                                              \
            pacman -Sy --noconfirm git gcc cmake meson wayland wayland-protocols      \
            pkgconf pixman libinput libdisplay-info libxkbcommon nlohmann-json libdrm \
            seatd libxcb xorg xorg-xwayland sudo                                   && \
                                                                                      \
            # Build awm                                                               \
            git clone --depth 1 https://gitlab.freedesktop.org/wlroots/wlroots.git    \
            subprojects/wlroots                                                    && \
            meson setup build/                                                     && \
            ninja -C build/                                                           "
